body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.page{
  background-color: white;
  width: 80%;
  display: inline-block;
}

/* .page::after, .page::before{
  content: 'Hello World';
  background-color: aliceblue;
  position: absolute;
  transform: rotate(-90deg);
  height: 10%;
}

.page::after{
  right: 0px;
}

.page::before{
  left: 0%;
} */