.teamsGrid{
    margin-top: 5vh;
    width: 70%;
    height: 50vh;
    overflow-y: scroll;
}

.searchBar{
    position: sticky;
    top: 0px;
    background-color: gray;
    opacity: 95%;
}

.searchBar button{
    margin-left: 2vw;
}