.gameCard{
    background-color: gray;
    height: 70px;
    width: 120px;
}


ul{
    list-style: none;
    padding-left: 0%;
    position: relative;
    height: 100%;
}

.logos{
    height: 30px;
    padding-right: 5px;
    vertical-align: middle;
}

.team{
    display: flex;
    border: 1px solid black;
    height: 50%;
    
}

.team_score{
    display: flex;
    align-items: center;
    white-space: nowrap;
    width: 100%;
    justify-content: space-between;
}

.score{
    margin-right: 5px;
}

.lines{
    margin-right: 5px;
    font-size: 12px;
}