.gameCard{
    background-color: gray;
    height: 65px;
    width: 120px;
    display: flex;
    flex-direction: column;
}

.team{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    background-color: gray;
}

.team img{
    height: 20px;
}